<h1>"Welcome to Battle!"</h1>
<h2>Sign in to play</h2>
<form action = "/names" method="POST">
  <label for="Player_1">
    Player 1 name
    <input type="text" name="Player_1">
  </label>  
  <br>
  <label for="Player_2">
    Player 2 name
    <input type="text" name="Player_2">
    <br>
    <input type="submit" value="Submit">
  </label>
</form>